#photos{
    line-height: 0;
    column-count: 5;
    column-gap: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0;
    -moz-column-count: 5;
    -moz-column-gap: 0;
}

#photos img{
    width: 100%;
    height: auto;
}

@media (max-width: 1200px){
    #photos{
        column-count: 4;
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}

@media (max-width: 1000px){
    #photos{
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

@media (max-width: 800px){
    #photos{
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}

@media (max-width: 400px){
    #photos{
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}